@import url("./../../.cache/wal/colors-waybar.css");
/*@import url ("./colors.css");*/
* {
	border: none;
	border-radius: 0;
    font-family: "JetbrainsMono Nerd Font", monospace;
  font-weight: bold;
	font-size: 14px;
	min-height: 0;
}

window#waybar {
	background: transparent;
  color: @color6;
}

window#waybar.empty #window {
  background-color: transparent;
  border-color: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

tooltip {
    background: @background;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @color4;
}

#window {
	margin-top: 6px;
  margin-right: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
  border-bottom-width: 2px;
  border-bottom-color: @color0;
  border-bottom-style: solid;

	transition: none;
    color: @color6;
	background: @background;
}

#workspaces button {
    padding: 5px;
    color: @color8;
}

#workspaces button.active {
    border-radius: 5px;
    border-bottom-width: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-color: @color8;
    border-bottom-style: solid;
    color: @foreground;
}

#workspaces button.focused {
    color: @color5;
    background: @color1;
}

#workspaces button.urgent {
    color: @background;
    background: @color2;
}

#workspaces button:hover {
    background: @background;
    color: @color6;
}
#workspaces {
  margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
  border-bottom-width: 2px;
  border-bottom-color: @color0;
  border-bottom-style: solid;

  background: @background;
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @color14;
	background: @background;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
  margin-right: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px 0 0 10px;
  border-bottom-width: 2px;
  border-bottom-color: @color0;
  border-bottom-style: solid;

	transition: none;
	color: @color5;
	background: @background;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @color6;
	background: @background;
}

#battery.charging, #battery.plugged {
	color: @color8;
    color: @color10
}

#battery.critical:not(.charging) {
    color: @color9;
    color: @color15;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @color13;
        color: @color11;
    }
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 7px;
	margin-bottom: 0px;
	border-radius: 10px 0 0 10px;
	transition: none;
	color: @color11;
	background: @background;
}
#clock {
	margin-top: 6px;
	margin-left: 0px;
  margin-right: 10px;
	padding-left: 8px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 0 10px 10px 0;
  border-bottom-width: 2px;
  border-bottom-color: @color0;
  border-bottom-style: solid;

	transition: none;
	color: @color2;
	background: @background;
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @background;
	background: @color13;
}
#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @background;
	background: @color14;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
  border-bottom-width: 2px;
  border-bottom-color: @color0;
  border-bottom-style: solid;

	transition: none;
	color: @color4;
	background: @background;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 10px;
  margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
  border-bottom-width: 2px;
  border-bottom-color: @color0;
  border-bottom-style: solid;

	transition: none;
    color: @color4;
    background: @background;
}

#custom-power {
	font-size: 15px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @color8;
	background: @color12;
}

#custom-updates {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @foreground;
	background: @color1;
}

#custom-media {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @color8;
	background: @color10;
}
