@import url("./colors.css");
* {
    border: none;
    border-radius: 0;
    font-family: Jetbrains Mono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @cyan;
}

window#waybar.empty #window {
background-color: transparent;
border-color: transparent;
}

tooltip {
    background: @background;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @purple;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
    color: @cyan;
	background: @background;
  border: 1px solid @purple;
}

#workspaces button {
    padding: 5px;
    color: @background;
    margin-right: 5px;
}

#workspaces button.active {
    color: @purple;
}

#workspaces button.focused {
    color: @purple;
    background: @pink;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @background;
    background: @green;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @background;
    color: @cyan;
    border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-launcher,
#custom-weather,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: @background;
    padding: 2px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid @purple;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: @background;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: @pink;
    border-radius: 10px 10px 10px 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @red;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#network {
    color: @comment;
    margin-left: 10px;
    padding-left: 10px;
    border-radius: 10px 0 0 10px;
    border-right: 0px;
}

#pulseaudio {
    color: @cyan;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: @green;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
}

#custom-weather {
    border-radius: 10px 10px 10px 10px;
}
